
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>UserId</th>
        <th>schedule</th>
        <th>Status</th>

        

      </tr>
    </thead>
    <tbody>
 
     <tr>
        <!-- <td style="background-color: aqua">{{u.UserId}}</td> -->
        <td style="background-color: aqua" >{{d.UserId}}</td>
        <td style="background-color: aqua">{{d.MySchedule}}</td>
        <td style="background-color: aqua">{{d.Status}}</td>
      </tr>
      
    </tbody>
  </table>
</div>

